/* MAIN */

@font-face {
  font-family: 'poppins';
  font-weight: 400;
  font-style: normal;
  src: url('/poppins-reg.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  font-weight: bold;
  font-style: normal;
  src: url('/robotoslab-bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab';
  font-weight: 400;
  font-style: normal;
  src: url('/robotoslab-reg.ttf') format('truetype');
  font-display: swap;
}

html {
  --text-color: #1d1d1d;
  --background-color: #fdfdfd;
}

body {
  font-family: 'poppins', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: var(--text-color, black);
  background: var(--background-color, white);
  margin: 0;
}

b {
  font-size: 1.1em;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'RobotoSlab', serif;
  font-weight: normal;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}

a {
  color: currentColor;
  transition: color 0.2s linear;
}

a:hover {
  color: rgb(147, 158, 120);
}

p {
  font-size: 19px;
}

/* HEADER */

header {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.header-icon {
  display: inline;
  width: 40px;
  height: 40px;
  margin: 20px;
}

/* MAIN */

.wrapper {
  max-width: 1200px;
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 2vmin 0;
}

.logo {
  display: block;
  max-width: 400px;
  width: 80%;
  height: auto;
  padding: 40px 20px;
  margin: 0 auto;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.image-name {
  max-width: 150px;
  padding: 40px 20px;
  margin-left: auto;
}

/* FOOTER */

.footer {
  margin-top: 120px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  max-width: 1200px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-image,
  .row {
    margin: 0 auto;
    max-width: 240px;
    width: 100%;
  }
}

.footer-image {
  max-width: 240px;
  width: 100%;
  height: auto;
}

.list {
  padding: 10px;
  list-style: none;
}

.footer-bottom {
  display: block;
  margin: 60px auto;
  text-align: center;
}
