@font-face {
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/poppins-reg.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: bold;
  font-style: normal;
  src: url("/robotoslab-bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab";
  font-weight: 400;
  font-style: normal;
  src: url("/robotoslab-reg.ttf") format("truetype");
  font-display: swap;
}



html {
  --text-color: #1d1d1d;
  --background-color: #fff;
  --primary-color: #939e78;
  --secondary-color: #e1e8cf;
}

body {
  font-family: "poppins", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: var(--text-color, black);
  background: var(--background-color, floralwhite);
  margin: 0;
}

b {
  font-size: 1.1em;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "RobotoSlab", serif;
  font-weight: normal;
}

h1 {
  font-size: 4.5em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

.pageTitle {
  max-width: 800px;
  margin: 60px auto;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.5em;
    font-weight: bold;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
  }
}

a {
  color: currentColor;
  transition: color .2s linear;
}

a:hover {
  color: var(--primary-color, #939e78);
}

p, .textBlock {
  max-width: 800px;
  font-size: 18px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vmin 20px;
}

.wrapper-intro {
  max-width: 900px;
  margin: 60px auto 0;
}

.signature {
    max-width: 150px;
    padding: 40px 20px;
    margin-left: auto;
}
.button {
  font-size: 18px;
  font-family: "poppins", Tahoma, Arial, Helvetica, sans-serif;
  padding: 15px 30px;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
  color: var(--text-color, black);
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  transition: 0.2s ease-out;
}

.button-light {
  background-color: var(--background-color);
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

 .jumbo {
  position: relative;
}

@media screen and (max-width: 600px) {
  .jumboText {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
  } 
}

@media screen and (min-width: 600px) {
  .jumboText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--background-color);
    font-size: 80%;
    padding: 20px;
  } 
}