@font-face {
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/poppins-reg.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: bold;
  font-style: normal;
  src: url("/robotoslab-bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab";
  font-weight: 400;
  font-style: normal;
  src: url("/robotoslab-reg.ttf") format("truetype");
  font-display: swap;
}



html {
  --text-color: #1d1d1d;
  --background-color: #fff;
}

body {
  font-family: "poppins", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: var(--text-color, black);
  background: var(--background-color, floralwhite);
  margin: 0;
}

b {
  font-size: 1.1em;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "RobotoSlab", serif;
  font-weight: normal;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}

a {
  color: currentColor;
  transition: color .2s linear;
}

a:hover {
  color: rgb(147, 158, 120)
}

p {
  font-size: 19px;
}

.wrapper {
  max-width: 1200px;
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }
