.imageGrid {
  display: grid;
  grid-gap: 2rem;
  list-style: none;
  padding-left: 0;
} 

@media (min-width: 700px) {
  .imageGrid { 
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1200px) {
  .imageGrid { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

.image {
  display: block;
}