.navigation {
  position: fixed;
  height: 20vh;
  max-height: 60px;
  width: 100%;
  font-size: 1.25em;
  color: var(--background-color);
  z-index: 10;
}

.navigationBar {
  height: 100px;
}

.verticalMenu {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background-color: var(--background-color, floralwhite);
  border-bottom: 3px solid var(--text-color, black);
}

.verticalMenuItem {
  display: block;
  padding: 10px;
  text-align: center;
}

.menuItem {
  padding-right: 30px;
}

.menu {
  display: none;
}

.menuLink {
  text-decoration: none;
  font-family: 'RobotoSlab', serif;
  transition: color 0.2s linear;
  font-size: 22px;
  color: var(--text-color, black);
  font-weight: 800;
}

.menuLink:hover {
  color: rgb(147, 158, 120);
}

.menuIcon {
  display: inline;
  width: 32px;
  height: 32px;
  margin: 12px 10px 0 10px;
}

.badge {
  position: relative;
}

.badge:after {
  content: attr(value);
  position: absolute;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  width: 18px;
  height: 18px;
  top: -8px;
  right: 0;
  color: var(--background-color, floralwhite);
  background-color: var(--text-color, black);
  border-radius: 50%;
}

.logo {
  position: absolute;
  width: 45px;
  float: left;
  margin-left: 30px;
  transition: 0.3s;
}

.hamburger {
  float: right;
  position: relative;
  z-index: 3;
  width: 45px;
  margin-top: 30px;
  margin-right: 30px;
}

.floatinCart {
  float: left;
  position: relative;
  z-index: 3;
  width: 45px;
  margin-top: 30px;
  margin-left: 30px;
}

.hamburgerLine {
  width: 36px;
  height: 4px;
  background-color: var(--text-color, black);
  border: 2px solid var(--text-color, black);
  transition: 0.2s;
  margin: 8px 0;
}

.active .hamburgerLine {
  background-color: var(--background-color, floralwhite);
}

@media screen and (min-width: 1064px) {
  .hamburger,
  .bigBadge {
    display: none;
  }

  .navigationBar {
    margin-left: 240px;
    background-color: var(--background-color, floralwhite);
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 30px;
    list-style: none;
  }
}
