.text {
  white-space: nowrap;
}

.buttonLoading .text {
  visibility: hidden;
  opacity: 0;
}

.buttonPrimary {
  padding: 10px 40px;
  margin: 10px 0;
}

.buttonPrimary:active {
  border-color: var(--primary-color);
  background: var(--primary-color);
}

.buttonLoading {
  position: relative;
}

.buttonLoading::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid transparent;
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
